{extend name='public:content'/}
{block name='title'}数据统计{/block}
{block name='content'}
    <div class="col-md-2">
        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-danger widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-users"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{$all_player}</div>
                <div class="widget-title">总玩家人数</div>
                <!--<div class="widget-subtitle">In your mailbox</div>-->
            </div>
        </div>
        <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-md-2">
        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-user"></span>
            </div>
            <div class="widget-data">
                <div id="online_player" class="widget-int num-count">加载中...</div>
                <div class="widget-title">在线人数</div>
                <div class="widget-subtitle"></div>
            </div>
        </div>
        <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-md-2">
        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-primary widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-home"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{$today_room_nums}</div>
                <div class="widget-title">当日房间数量</div>
                <!--<div class="widget-subtitle">In your mailbox</div>-->
            </div>
        </div>
        <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-md-2">
        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-info widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-usd"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{$now_week_pay}</div>
                <div class="widget-title">本周充值金额</div>
                <div class="widget-subtitle"></div>
            </div>
        </div>
        <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-md-2">
        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-success widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{$now_week_draw}</div>
                <div class="widget-title">本周提现金额</div>
                <div class="widget-subtitle"></div>
            </div>
        </div>
        <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-md-2">
        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-warning widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-money"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{$now_week_profile}</div>
                <div class="widget-title">平台总盈利</div>
                <div class="widget-subtitle"></div>
            </div>
        </div>
        <!-- END WIDGET MESSAGES -->
    </div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title-box">
                <h3>每周房间数统计</h3>
                <span></span>
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            </ul>
        </div>
        <div  class="panel-body padding-0">
            <div class="chart-holder" id="room" style="height: 320px;"></div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title-box">
                <h3>每月提现</h3>
                <span></span>
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            </ul>
        </div>
        <div class="panel-body padding-0">
            <div class="chart-holder" id="draw" style="height: 320px;"></div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title-box">
                <h3>每月充值</h3>
                <span></span>
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            </ul>
        </div>
        <div class="panel-body padding-0">
            <div class="chart-holder" id="pay" style="height: 320px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN__/js/plugins/morris/raphael-min.js"></script>
<script type="text/javascript" src="__ADMIN__/js/plugins/morris/morris.min.js"></script>
<script type="text/javascript">

    $.post('{:url("admin/Alldata/data_chat")}', function (res) {
        console.log(res);
        var per_week_room_nums = res.per_week_room_nums;
        console.log(per_week_room_nums);
        var per_month_draw = res.per_month_draw;
        var per_month_pay = res.per_month_pay;
        Morris.Line({
            element: 'draw',
            data: per_month_draw,
            xkey: 'month',
            ykeys: ['draw_money'],
            labels: ['Event'],
            resize: true,
            hideHover: true,
            xLabels: 'month',
            gridTextSize: '10px',
            lineColors: ['#33414E'],
            gridLineColor: '#E5E5E5'
        });

        Morris.Line({
            element: 'pay',
            data: per_month_pay,
            xkey: 'month',
            ykeys: ['pay_money'],
            labels: ['充值金额'],
            resize: true,
            hideHover: true,
            xLabels: 'month',
            gridTextSize: '10px',
            lineColors: ['#3FBAE4'],
            gridLineColor: '#E5E5E5'
        });

        Morris.Bar({
            element: 'room',
            data: per_week_room_nums,
            xkey: 'week',
            ykeys: ['room_nums'],
            labels: ['房间个数'],
            barColors: ['#3FBAE4'],
            gridTextSize: '10px',
            xLabels: 'week',
            hideHover: true,
            resize: true,
            gridLineColor: '#E5E5E5'
        });
    }, 'json');

    var name;
    var ws = new WebSocket('ws://card.dcwen.top:8282');
    ws.onopen = function () {
        name = 'admin';
    };
    ws.onmessage = function (e) {
        console.log(e);
        var data;
        var type;
        if (isJSON(e.data)) {
            data = JSON.parse(e.data);
            type = data.type;
        }

        switch (type) {
            case 'init':
                $.post('{:url("admin/alldata/connect")}', {
                    name: name,
                    client_id: data.client_id
                }, function (res) {
                    $('#online_player').html(res);
                })
                break;
            case 'change_online':
                $('#online_player').html(data.online_nums);
        }
    };

    function isJSON(str) {
        if (typeof str == 'string') {
            try {
                JSON.parse(str);
                return true;
            } catch(e) {
                console.log(e);
                return false;
            }
        }
        console.log('It is not a string!')
    }

</script>
{/block}