<link rel="icon" href="{:get_options('site_logo')}__UPLOAD__/admin/common/logo.png" type="image/x-icon" />
<!-- END META SECTION -->
<!-- CSS INCLUDE -->
<link rel="stylesheet" type="text/css" id="theme" href="__ADMIN__/css/theme-default.css"/>
<link rel="stylesheet" href="__ADMIN__/plugins/message_alert/css/m_css.css">
<script src="__ADMIN__/plugins/message_alert/js/m_js.js"></script>
<!-- EOF CSS INCLUDE -->
<script type="text/javascript" src="__ADMIN__/js/plugins/jquery/jquery.min.js"></script>
<script src="__ADMIN__/plugins/layer-v3.0.1/layer/layer.js"></script>
<script src="__PUBLIC__/admin/controller/silder.js"></script>
{include file='public:alert'/}
