<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- SEARCH -->
    <!--<li class="xn-search">
        <form role="form">
            <input type="text" name="search" placeholder="Search..."/>
        </form>
    </li>-->
    <!-- END SEARCH -->
    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right">

        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
    </li>
    <!-- END SIGN OUT -->
    <!-- MESSAGES -->
    <li class="xn-icon-button pull-right">
        <a href="#" title="{$self.user_login}【编辑】" data-url="{:url('admin/Admin/edit_self_page',['id'=>$self.id])}" onclick="edit_row(this)"><span class="fa fa-user"></span></a>
        <div class="informer informer-danger">{$self.user_hits}</div>
    </li>
    <li class="xn-icon-button pull-right">
        {:get_rank($self.user_rank)}
    </li>
    <!--&lt;!&ndash; END MESSAGES &ndash;&gt;-->
    <!--&lt;!&ndash; TASKS &ndash;&gt;-->
    <!--<li class="xn-icon-button pull-right">-->
    <!--<a href="#"><span class="fa fa-tasks"></span></a>-->
    <!--<div class="informer informer-warning">3</div>-->
    <!--<div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">-->
    <!--<div class="panel-heading">-->
    <!--<h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>-->
    <!--<div class="pull-right">-->
    <!--<span class="label label-warning">3 active</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body list-group scroll" style="height: 200px;">-->
    <!--<a class="list-group-item" href="#">-->
    <!--<strong>Phasellus augue arcu, elementum</strong>-->
    <!--<div class="progress progress-small progress-striped active">-->
    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>-->
    <!--</div>-->
    <!--<small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>-->
    <!--</a>-->

    <!--</div>-->
    <!--<div class="panel-footer text-center">-->
    <!--<a href="pages-tasks.html">Show all tasks</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!-- END TASKS -->
</ul>
